.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
preview_host/.dart_tool/**
preview_host/build/**
preview_host/.flutter-plugins
preview_host/.flutter-plugins-dependencies
